<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- Responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- SEO -->
  <meta name="description" content="Find and list homes easily like Airbnb">
  <meta name="keywords" content="airbnb, homes, rent, booking">

  <!-- Title -->
  <title><%= pagetitle %></title>

  <!-- Favicon (optional but pro) -->
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/69/69524.png">

  <!-- Tailwind CSS -->
  <link rel="stylesheet" href="/output.css" />